// The demo styles are for the presentation of the style guide (index.html) only

@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700italic);

section {
	display: block;
}

section#color {
	background: #293f54;
	color: $light;
}

section#font {
	background: #f3f3f3;
	color: $dark;
}

section#spotlight {
	background: $asphalt;
}

section#logo {
	background: $lime;
}

section#formelements {
	background: #f1f1f1;
	color: $dark;
}

section#iconfont {
	background: $darkteal;
	color: $light;
}

section#googleway {
	background: $asphalt;
	color: $light;
}

section#popstats{
	background: $lime;
}

section#bourbon{
	background: $orange;
}

/* #Nav
================================================== */



/* #Skelton Grid Demo
================================================== */

#skelton-grid {
	overflow: hidden;
	.alpha {
		background: $teal;
	}
	.omega {
		background: $lime;
	}
}

#skelton-grid .column, #skelton-grid .columns {
	font-family: $paragraph;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	border-radius: 4px;
}


/* #icon fonts
================================================== */

#iFont, #scrollTop {
	li {
		background: rgba(255,255,255,0.5);
		margin: 8px;
		padding: 10px;
		display: inline-block;
		border-radius: 8px;
	}
}


/* #BLAME
================================================== */

$darkshade: #111;
$lightshade: #f6c003;

video#blame {
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -999;
	//background: url(polina.jpg) no-repeat;
	//background-size: cover;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

section {
	padding: 0px!important;
}

body {
	background-color: black!important;
}

html {
	overflow: hidden;
	height: 100%;
}

.songtitle {
	@include position(absolute,0px 0 0 0px);
	z-index: 999;
	padding: 60px;
	@include transition (transform 2s ease-in-out, opacity 1s ease-in-out);
	h1 {
		color: $lightshade;
		font-size: 8vw;
		margin: 0px;
		line-height: 100%;
		opacity: 1;
		font-family: Lato;
		text-transform: uppercase;
	}
	h1.heavy {
		font-weight: 900;
	}
}

.songtitle.out {
	@include transform(translate(-200%));
	opacity: 0;
}

.social {
	position: absolute;
	bottom: 20px;
	right: -20px;
	z-index: 999;
}


// Force

$fo: #fc5f00;
$fg: #00a864;

.overlay {
	@include position(absolute,0px 0 0 0px);
	@include size(100%);
	background: #111;
}

.overlay2 {
	opacity: 0;
	@include position(absolute,0px 0 0 0px);
	@include size(100%);
	@include transition(border 1500ms ease-in);
	@include animation-delay(1s);
	@include box-sizing(border-box);
	background-color: rgba($fo, .4);
	background-blend-mode: multiply;
	.forcelogo {
		background-image: url(../images/forcelogo.png);
		background-size: 600px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .0;
		@include transition(opacity 1s ease-in-out);
	}
	.enter {
		position: absolute;
		bottom: 20%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		display: block;
	}
	.forcebtn {
		color: #111;
		opacity: 0;
		border: solid 3px #111!important;
		@include transform(translateY(60px));
		@include transition(all 1s ease-in-out);
		h3 {
			color: #111;
			font-weight: 900;
		}
	}
}

.visible {
	opacity: 1!important;
} 

.fadeUp {
	@include transform(translateY(0px)!important);
}


.hide {
	opacity: 0!important;
} 

.overlayborder {
	border: 30px solid #111;
}

video#force {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.loadscreen {
	@include position(absolute, 50% 0 0 50%);
	@include size(400 200);
	margin: -100px 0 0 -200px;
	display: block;
	p {
		color: #fff;
		font-weight: 600;
		text-align: center;
		font-size: .9em;
		margin-top: 100px;
		font-family: 'Exo 2', sans-serif;
	}
	ul#lights {
		margin-left: 40px;
		@include transition(opacity 1s ease-in-out);
		li {
			display: inline-block;
			background: $fo;
			border-radius: 50%;
			@include size(50);
			margin: 0 5px 0 5px;
			opacity: 0;
			box-shadow: 0 0 20px #111 inset, 0 0 10px $fo;
		}
		li:nth-child(1) {
			@include animation(fadeIn 1s ease-in-out);
    	@include animation-fill-mode(forwards);
    	@include animation-iteration-count(1);
		}
		li:nth-child(2) {
			@include animation(fadeIn 1s ease-in-out);
    	@include animation-fill-mode(forwards);
    	@include animation-iteration-count(1);
    	@include animation-delay(1s);
		}
		li:nth-child(3) {
			@include animation(fadeIn 1s ease-in-out);
    	@include animation-fill-mode(forwards);
    	@include animation-iteration-count(1);
    	@include animation-delay(2s);
		}
		li:nth-child(4) {
			@include animation(fadeIn 1s ease-in-out);
    	@include animation-fill-mode(forwards);
    	@include animation-iteration-count(1);
    	@include animation-delay(3s);
		}
		li:nth-child(5) {
			@include animation(fadeIn 1s ease-in-out);
    	@include animation-fill-mode(forwards);
    	@include animation-iteration-count(1);
    	@include animation-delay(4s);
		}
	}
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1,h2,h3 {
	font-family: 'Exo 2', sans-serif;
}

.fo {
	color: $fo;
}