
$font-dir: '../fonts/icomoon/';
$font-name: 'icomoon';

@include font-face(icomoon, '../fonts/icomoon/icon-utility');

[class*="icon-utility-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Font Size attributes */
.icon-light {
	color: #fff;
}

.icon-dark {
	color: #212121;
}

.icon-xl {
	font-size: 300%;
}

.icon-l {
	font-size: 200%;
}

.icon-s {
	font-size: 50%;
}

.icon-utility-success:before {
	content: "\e600";
}
.icon-utility-attach:before {
	content: "\e000";
}
.icon-utility-bookmark:before {
	content: "\e001";
}
.icon-utility-call:before {
	content: "\e002";
}
.icon-utility-chat:before {
	content: "\e003";
}
.icon-utility-checkin:before {
	content: "\e004";
}
.icon-utility-chevronleft:before {
	content: "\e005";
}
.icon-utility-chevronright:before {
	content: "\e006";
}
.icon-utility-close:before {
	content: "\e007";
}
.icon-utility-down:before {
	content: "\e008";
}
.icon-utility-download:before {
	content: "\e009";
}
.icon-utility-email:before {
	content: "\e00b";
}
.icon-utility-groups:before {
	content: "\e00e";
}
.icon-utility-image:before {
	content: "\e00f";
}
.icon-utility-left:before {
	content: "\e010";
}
.icon-utility-like:before {
	content: "\e011";
}
.icon-utility-link:before {
	content: "\e012";
}
.icon-utility-list:before {
	content: "\e013";
}
.icon-utility-location:before {
	content: "\e014";
}
.icon-utility-logout:before {
	content: "\e015";
}
.icon-utility-people:before {
	content: "\e016";
}
.icon-utility-photo:before {
	content: "\e017";
}
.icon-utility-reply:before {
	content: "\e018";
}
.icon-utility-right:before {
	content: "\e019";
}
.icon-utility-up:before {
	content: "\e01e";
}
.icon-utility-upload:before {
	content: "\e01f";
}
.icon-utility-user:before {
	content: "\e020";
}
.icon-utility-filter:before {
	content: "\e022";
}
.icon-utility-help:before {
	content: "\e023";
}
.icon-utility-error:before {
	content: "\e024";
}
.icon-utility-warning:before {
	content: "\e025";
}
.icon-utility-adduser:before {
	content: "\e026";
}
.icon-utility-add:before {
	content: "\e027";
}
.icon-utility-edit:before {
	content: "\e00a";
}
.icon-utility-back:before {
	content: "\e028";
}
.icon-utility-lock:before {
	content: "\e029";
}
.icon-utility-info:before {
	content: "\e02d";
}
.icon-utility-frozen:before {
	content: "\e02e";
}
.icon-utility-spinner:before {
	content: "\e02b";
}
.icon-utility-news:before {
	content: "\e02f";
}
.icon-utility-dash:before {
	content: "\e030";
}
.icon-utility-question:before {
	content: "\e031";
}
.icon-utility-3dots:before {
	content: "\e032";
}
.icon-utility-refresh:before {
	content: "\e033";
}
.icon-utility-socialshare:before {
	content: "\e034";
}
.icon-utility-priority:before {
	content: "\e021";
}
.icon-utility-search:before {
	content: "\e01b";
}
.icon-utility-rows:before {
	content: "\e01a";
}
.icon-utility-event:before {
	content: "\e00c";
}
.icon-utility-settings:before {
	content: "\e01c";
}
.icon-utility-check:before {
	content: "\e02a";
}
.icon-utility-notification:before {
	content: "\e02c";
}
.icon-utility-share:before {
	content: "\e01d";
}
.icon-utility-favorite:before {
	content: "\e00d";
}
.icon-utility-sms:before {
	content: "\e601";
}
.icon-utility-push:before {
	content: "\e602";
}
