.video-wrapper, .video-js {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	width: 100%    !important;
	height: 0;
	box-shadow: -14px -14px 0px #E2E2E2;
	background-color: black;
	video {
  	width: 100%    !important;
  	border-radius: 6px;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
	.vjs-big-play-button {
		border: none!important;
		background-color: rgba($teal,.75);
		box-shadow: none!important;
		@include transition(background-color 500ms linear);
		&:hover {
			background-color: rgba($raspberry,.75);
		}
	}
	.vjs-big-play-button:before {
		text-shadow: none!important;
	}
}