/* #Media Queries
================================================== */

	/* Desktop Devices */
	@media only screen and (min-width: 768px) {
		section {
			padding: 120px 0;
		}
		.gap-20 {
			margin: 20px 0;
		}
		.animation-list {
			span {
				display: none;
			}
		}
		div.jumbotron-inner {
			padding: 0 60px;
			h1 {
				font-size: 6em;
			}
			h2 {
				font-size: 2em;
			}
		}
	}

	@media only screen and (min-width: 2000px) {
		header#main-nav {
			position: fixed;
			z-index: 800;
			background: rgba(255,255,255,.6);
		}
		header#main-nav nav li {
			float: left;
			display: inline-block;
			line-height: 100%;
			margin: 0px;
		}
		header#main-nav nav a {
			margin: 8px; 
			color: $dark;
			height: auto;
			font-size: 12px;
			line-height: 100%;
			padding: 2px 6px;
		}
	}

	@media only screen and (max-width: 1999px) {
		header#main-nav {
			position: absolute;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		section {
			padding: 40px 0;
		}
		#main-nav {
			display: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
