select.btn {
  line-height: 2;
  font-size: 1em;
}

select[multiple] {
  height: auto;
  background: #fff;
  color: $teal;
  &:active, &:focus {
    background: $light;
  }
  option {
    width: 100%;
    display: block;
    &:active, &:focus {
      background: $teal;
    }
  }
}

// Radio & Check Styles

.radio-check-group {
  input[type=radio], input[type=checkbox] {
    display:none;
  }
  input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin: 0 1px 0 1px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $light;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: $cancel;
    font-family: $paragraph;
    border-radius: 4px;
    @include transition(all .25s linear);
    span {
      display: none;
      @include transition(all .25s linear);
    }
  }
  input[type=radio]:checked + label, input[type=checkbox]:checked + label{
    background-color: $lime;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    span {
      display: inline-block;
      margin: 0 0 0 6px;
    }
  }
}